//Addition

.box{
    width: 100px + 50px; //150px
    padding: 10px + 5px; //15px
}

.container{
    height: 300px - 100px; //200px
}

title{
    font-size: 10px * 3; //30px
}

.box2{
    width: (100px / 2); //50px
}

$base:10px;

h1{
    font-size: $base * 3; //30px
}

h2{
    font-size: $base * 2.5; //25px
}


p{
    margin-top: $base + 5px; //15px
}

@mixin size($value)
{
  width: $value * 2;
  height: $value * 3;
}

.new{
    @include size(10px);
}